---
import { baseUrl } from '../helpers.astro';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  altViewUrl?: string;
  altViewType?: string;
}

const { altViewUrl, altViewType, title, description = 'COS 3100: Intro to git - AUBG short course', image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <link rel="alternate icon" type="image/x-icon" href={`${baseUrl}favicon.ico`} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    {image && <meta property="og:image" content={new URL(image, Astro.url)} />}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image && <meta name="twitter:image" content={new URL(image, Astro.url)} />}

    <link rel="sitemap" href={`${baseUrl}sitemap-index.xml`} />
    <link rel="alternate" type="application/rss+xml" title="RSS" href={`${baseUrl}rss.xml`} />
  </head>
  <body>
    <div class="container center">
      <header class="header">
        <div class="header__inner">
          <div class="header__logo">
            <a href={baseUrl}>
              <div class="logo">
                <span class="big-only">COS 3100: </span> Intro to GIT
              </div>
            </a>
          </div>
          <ul class="menu menu--mobile">
            <li class="menu__trigger">menu ▾</li>
            <li>
              <ul class="menu__dropdown">
                <li><a href={`${baseUrl}lessons/`}>lessons</a></li>
                <li><a href={`${baseUrl}tags/`}>tags</a></li>
                <li><a href={`${baseUrl}bonus/`}>extras</a></li>
                <li><a href={`${baseUrl}links/`}>links</a></li>
                <li><a href={`${baseUrl}syllabus/`}>syllabus</a></li>
                <li>
                  <a
                    href="https://copy.sh/v86/?profile=archlinux"
                    class="external"
                    target="_blank"
                  >online terminal</a>
                </li>

                {altViewUrl && <li><a class="bordered-top" href={altViewUrl}>view {altViewType}</a></li>}
              </ul>
            </li>
          </ul>
        </div>
 
        <nav class="navigation-menu">
          <ul class="navigation-menu__inner menu--desktop">
                <li><a href={`${baseUrl}lessons/`} class="button inline">lessons</a></li>
                <li><a href={`${baseUrl}tags/`} class="button inline">tags</a></li>
                <li><a href={`${baseUrl}bonus/`} class="button inline">extras</a></li>
                <li><a href={`${baseUrl}links/`} class="button inline">links</a></li>
                <li><a href={`${baseUrl}syllabus/`} class="button inline">syllabus</a></li>
            <li>
              <a
                href="https://copy.sh/v86/?profile=archlinux"
                class="button inline external"
                target="_blank"
              >online terminal</a>
            </li>
          </ul>
          {altViewUrl && <a class="big-only button inline paddingx" href={altViewUrl}>view {altViewType}</a>}
        </nav>
      </header>

      <slot />

    </div>
  </body>
</html>

<script src="../client/js/menu.js" />
<script src="../client/js/code.js" />

<style is:global>
  /* Import all CSS files in the correct order */
  @import "../client/styles/terminal.css";
  @import "../client/styles/fonts.css";
  @import "../client/styles/main.css";
  @import "../client/styles/header.css";
  @import "../client/styles/menu.css";
  @import "../client/styles/footer.css";
  @import "../client/styles/buttons.css";
  @import "../client/styles/post.css";
  @import "../client/styles/pagination.css";
  @import "../client/styles/code.css";
  @import "../client/styles/syntax.css";
  @import "../client/styles/gist.css";
  @import "../client/styles/terms.css";

  .paddingx {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bordered-top {
    border-top: 1px solid var(--secondary);
  }
</style>
