---
import SlidesLayout from '../../layouts/SlidesLayout.astro';
import { getLessons } from '../../common/lessons.astro';

export async function getStaticPaths() {
  const lessons = await getLessons();

  return lessons.map((lesson, index) => ({
    params: { slug: lesson.slug },
    props: {
      lesson,
      next: index < lessons.length - 1 ? lessons[index + 1] : null,
      prev: index > 0 ? lessons[index - 1] : null,
    },
  }));
}

const { lesson, prev, next } = Astro.props;
const lessonContent = lesson.body.replaceAll(/<bonus-content>.*?<\/bonus-content>/gs, '');
---

<SlidesLayout slug={lesson.slug} prev={prev} next={next} {...lesson.data}>
  <section data-markdown>
    <textarea data-template>
      ## {lesson.data.order}. {lesson.data.title}
      {lesson.data.description}
      ---
      {lessonContent}
    </textarea>
  </section>
</SlidesLayout>
