---
import SlidesLayout from '../../layouts/SlidesLayout.astro';
import LessonNavigation from '../../components/LessonNavigation.astro';

import { baseUrl, buildLessonNavigationProps, getLessons } from '../../helpers.astro';

export async function getStaticPaths() {
  const lessons = await getLessons();

  return buildLessonNavigationProps(lessons);
}

const { lesson, prev, next } = Astro.props;
const lessonContent = lesson.body.replaceAll(/<bonus-content>.*?<\/bonus-content>/gs, '');

const lessonUrl = `${baseUrl}lessons/${lesson.slug}`
---

<SlidesLayout {...lesson.data} altViewType='full lesson' altViewUrl={lessonUrl}>
  <section data-markdown>
    <textarea data-template>
      ## {lesson.data.order}. {lesson.data.title}
      {lesson.data.description}
      ---
      {lessonContent}
    </textarea>
  </section>
  <section>
    <LessonNavigation prev={prev} next={next} view='slides' />
  </section>
  <LessonNavigation slot="bottom-nav" prev={prev} next={next} view='slides' />
</SlidesLayout>
